<section class="home">
  {{#each posts}}
    <article>
      <h2><img class="image" src="{{ picture }}">  {{title}}</h2>
      <h4>Publicado por {{ author }} ({{ date }}).</h4>
      <p><i>{{extract}}</i></p>
      {{ post }}      
    </article>
  {{/each}}
</section>